.body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 67px 0px 50px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.left {
  width: 100%;
}

.right {
  padding: 20px 10px;
  width: 100%;
}

@media (min-width: 756px) {
  .body {
    padding: 87px 20px 50px 20px;
  }
  .content {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
  }
  .left {
    width: 50%;
  }

  .right {
    padding: 0 20px;
    width: 50%;
  }
}

.leftBody {
  width: 100%;
  aspect-ratio: 3/4;
  top: 0;
  position: sticky;
  top: 85px;
}

.description {
  font-size: 14px;
  letter-spacing: 0.87px;
  line-height: 22.65px;
  margin: 20px 0;
  white-space: pre-wrap;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 16px;
}
.category {
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 2px;
  width: fit-content;
  background-color: rgb(234, 234, 234);
}
.price {
  font-size: 16px;
}
.colorSelector {
  display: flex;
  gap: 10px;
}

.seriesNumber {
  font-size: 14px;
  color: gray;
}

.attention {
  font-size: 12px;
}
