.itemWrapper {
  background-color: white;
  display: flex;
  color: black;
}

.imageWrapper {
  min-width: 110px;
  position: relative;
  aspect-ratio: 3/4;
}

.imageWrapper > img {
  height: auto !important;
}

.item {
  display: flex;
  width: 100%;
  justify-content: space-evenly;

  flex-direction: column;
  padding: 0px 0px 0px 10px;
}

.descriptionWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  font-size: 14px;
  color: black;
  font-weight: bold;
}

.caption {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.salesPrice {
  text-decoration: line-through;
  font-style: italic;
  color: gray;
}

.subTotalCaption {
  display: none;
  font-size: 14px;
}
