.body {
  display: flex;
  flex-direction: column;
  padding: 85px 20px 50px 20px;
}
.contents {
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  gap: 20px;
}

@media (min-width: 756px) {
  .body {
    display: flex;
    flex-direction: row;
  }
  .contents {
    width: 100%;
  }
}
