.body {
  border-top: solid 1px black;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.menu {
  width: 300px;
}

.copyrightWrapper {
  text-align: center;
  width: 100%;
  padding-top: 20px;
}
