.body {
  border: solid 1px rgb(237, 237, 237);
}

.imageWrapper {
  width: 100%;
  position: relative;
  aspect-ratio: 2/3;
}

.title {
  font-size: 14px;
}

.price {
  font-size: 12px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
