.borderTop {
  width: 100%;
  border-top: solid 1px rgb(221, 221, 221);
}

.body {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  flex-direction: column;
  gap: 5px;
  border-bottom: solid 1px rgb(221, 221, 221);
}
.label {
  font-size: 14px;
  font-weight: bold;
  color: rgb(49, 49, 49);
}
.value {
  font-size: 14px;
}
